  /* CSS cho thanh công cụ */
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Thêm khoảng cách dưới cho thanh công cụ */
    border-bottom: 1px solid #ccc; /* Thêm border dưới cho thanh công cụ */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    z-index: 1;
    width: 200px;
  }
  
  nav ul li:hover .sub-menu {
    display: block;
  }
  
  nav ul li .sub-menu li {
    margin-bottom: 10px;
  }
  
  nav ul li .sub-menu li a {
    color: #333;
  }
  
  /* CSS cho tìm kiếm và giỏ hàng */
  .search-bar {
    display: flex;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    border: none;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  .name {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .cart-icon {
    position: relative;
  }
  
  .cart-icon i {
    font-size: 18px;
  }
  
  .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
  }
  
  /* CSS cho trang quản lý tài khoản cá nhân */
  .account-sidebar {
    width: 20%; /* Đặt chiều rộng cho khung thông tin (tùy chỉnh kích thước theo mong muốn) */
    background-color: #f1f1f1; /* Màu nền cho khung thông tin */
    padding: 20px; /* Khoảng cách padding bên trong khung thông tin */
    box-sizing: border-box;
    float: left; /* Đưa khung thông tin về bên trái */
    border: 1px solid #ccc; /* Thêm border cho account-sidebar */
  }
  
  .account-sidebar ul li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px; /* Tùy chỉnh khoảng cách giữa border và nội dung */
  }
  
  .account-content {
    width: 75%; /* Chiều rộng cho phần nội dung bên phải của trang */
    padding: 20px; /* Khoảng cách padding cho phần nội dung bên phải */
    box-sizing: border-box;
    float: right; /* Đưa phần nội dung về bên phải */
    margin-left: 0px;
  }
  
  /* Styles cho tiêu đề của khung thông tin */
  .account-sidebar h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Styles cho các mục con trong khung thông tin */
  .account-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .account-sidebar li {
    margin-bottom: 10px;
  }
  
  /* Styles cho liên kết trong khung thông tin */
  .account-sidebar a {
    text-decoration: none;
    color: #555;
  }
  
  .account-sidebar a:hover {
    color: #e91e63;
  }
  
  /* Hiển thị nội dung khi mục được chọn */
  .content-item {
    display: none;
  }
  
  .content-item.active {
    display: block;
  }
  /* CSS cho lịch sử đơn hàng */
#history {
  margin-top: 10px; /* Tạo khoảng cách trên cho lịch sử đơn hàng */
}

#history table {
  width: 100%;
  border-collapse: collapse;
}

#history th,
#history td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#history th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#history tr:hover {
  background-color: #f9f9f9;
}

#history td {
  display: flex;
  align-items: center;
  justify-content: center;
  display: table-cell;
}

  #edit-info {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  
  #edit-info h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="password"] {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #efe9e9;
    border-radius: 4px;
  }
  
  .btn-submit {
    padding: 12px 24px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #000000;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 480px) {
    #edit-info {
      padding: 10px;
    }
  
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group input[type="password"] {
      padding: 8px;
      font-size: 14px;
    }
  
    .btn-submit {
      padding: 10px 20px;
      font-size: 14px;
    }
  }
  /* CSS cho tích diem */
.content-item table {
  width: 100%;
  border-collapse: collapse;
}

.content-item th,
.content-item td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.content-item th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.content-item tr:hover {
  background-color: #f9f9f9;
}

.content-item td {
  display: flex;
  align-items: center;
  justify-content: center;
  display: table-cell;
}

.content-item td p {
  margin: 0;
}

  
  /* CSS cho footer */
  #footer {
    background-color: #24262b;
    padding: 30px 0;
    margin-top: 800px;
    clear: both;
  }
  
  #footer .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  #footer .row ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  #footer .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  #footer .footer-col h4:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  #footer .footer-col ul li {
    margin-bottom: 10px;
  }
  
  #footer .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  
  #footer .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  
  #footer .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  #footer .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  
  .footer-top {
    margin-top: 40px;
    text-align: center;
    color: #fff;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
      .menu-area ul li {
          display: block;
          width: 100%;
      }
  
      .menu-area ul li a {
          padding: 12px;
      }
  
      .menu-area ul ul {
          position: static;
          display: none;
          top: initial;
          background: none;
      }
  
      .menu-area ul ul li {
          border-bottom: none;
      }
  
      .menu-area ul ul ul {
          position: static;
          left: initial;
      }
  }
  
  
  
