@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&family=Comfortaa:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Chakra Petch';
}
#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 16.5vh;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(252, 38%, 25%);
    overflow: hidden ; 
}
.container {
    width: 80%;
    margin: 0px auto;
}
header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
    position: relative;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
  }

  nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    z-index: 1;
    width: 200px;
  }

  nav ul li:hover .sub-menu {
    display: block;
  }

  nav ul li .sub-menu li {
    margin-bottom: 10px;
  }

  nav ul li .sub-menu li a {
    color: #333;
  }
.btn:hover {
    opacity: 0.8;
    background-color:black;
}
.link{
    cursor: pointer;

}
.link:hover {
    text-decoration: underline;
}
#menu{
  width: 100%;
  margin:auto;
  background-color: rgb(34, 35, 37);
}
#menu .menu-area ul{
  list-style: none;
  position: relative;
  text-transform: uppercase;
}
#menu .menu-area ul li{
  display: inline-block;

}
#menu .menu-area ul li a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 12px 15px;
}
#menu .menu-area ul li:hover{
  background:crimson;
}
#menu .menu-area ul li:hover > ul{
  display: block;
}
#menu .menu-area ul ul{
  display: none;
  position: absolute;
  top: 100%;
  background:#24262b
}
#menu .menu-area ul ul li{
  width: 200px;
  position: relative;
  display: block;
  border-bottom: 1px solid #ffffff;
}
#menu .menu-area ul ul ul{
  position: absolute; 
  left: 100%;
  top: 0;
}
#main{
    overflow: hidden;
    max-width: 1100px;
    margin: 0 auto;
}
#main .title-cart i{
    margin: 10px;
}
#main .title-cart h2{
    color:black;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
    opacity: 0.5;
}
#main .title-cart h2:hover{
    opacity:1;
}
#main .cart table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
#main .cart table thead td{
    background-color: crimson;
    color: #fff;
    border: none;
    padding: 6px 0;
}
#main .cart table td{
    border: 1px solid rgb(0, 0, 0);
    text-align: center; 
}
#main .cart table td:nth-child(1){
    width: 100px;
}
#main .cart table td:nth-child(2),
#main .cart table td:nth-child(3){
    width: 200px;
}
#main .cart table td:nth-child(4),
#main .cart table td:nth-child(5),
#main .cart table td:nth-child(6){
    width: 170px;
}
#main .cart table tbody img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}
#main .cart table tbody input{
    width: 100px; 
    text-align: center;
}
#main .cart table tbody i{
    color:#24262b;
}
#main .cart table tbody i:hover{
    opacity: 0.5;
}
.code-container {
    border: 2px solid red;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}


.code-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

.code-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
}

.code-container input[type="text"]:focus {
    outline: none;
    border-color: #4caf50;
}
#footer{
	background-color: #24262b;
    padding: 50px 0;
    bottom:0;
    margin-top: 50px;
    width: 100vw; 
    left: 0; 
    position: fixed;
}
.cart-icon {
    position: relative;
  }
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
  }
#footer .row{
	display: flex;
	flex-wrap: wrap;
}
#footer .row ul{
	list-style: none;
}
#footer .footer-col{
   width: 25%;
   padding: 0 15px;
}
#footer .footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
#footer .footer-col p{
  width: 50%;
  color: #fff;
}
#footer .footer-col h4:before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
#footer .footer-col ul li{
	margin-bottom: 10px;
}
#footer .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
#footer .footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
#footer .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
#footer .footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-top{
  margin-top: 40px;
  text-align: center;
  color: #fff;
}