@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&family=Comfortaa:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 16.5vh;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(252, 38%, 25%);
    overflow: hidden ; 
}
.container {
    width: 80%;
    margin: 0px auto;
}
#header{
    display: flex;
    justify-content: space-between ;
    width: 100%;
    background-color: hsl(252, 30%, 100%);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
#header .container{
    display: flex;
    align-items:center ;
    justify-content:space-between;
}
body {
    font-family: 'Times New Roman', Times, serif;
  }
  /* CSS cho thanh công cụ */
  header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
    position: relative;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
  }

  nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    z-index: 1;
    width: 200px;
  }

  nav ul li:hover .sub-menu {
    display: block;
  }

  nav ul li .sub-menu li {
    margin-bottom: 10px;
  }

  nav ul li .sub-menu li a {
    color: #333;
  }

  /* CSS cho tìm kiếm và giỏ hàng */
  .search-bar {
    display: flex;
  }

  .search-bar input[type="text"] {
    padding: 5px;
    border: none;
  }

  .search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
  }

  .cart-icon {
    position: relative;
  }

  .cart-icon i {
    font-size: 18px;
  }

  .cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
  }
  .name {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
  }
.btn {
    display: inline-block;
    padding: 00.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor:pointer;
    color: rgb(3, 0, 0);
    background-color:rgb(244, 242, 242);
    transition: all 300ms ease;
}
.btn:hover {
    opacity: 0.8;
    background-color:black;
}
.link{
    cursor: pointer;

}
.link:hover {
    text-decoration: underline;
}
.menu{
    width: 100%;
    margin:auto;
    background-color: rgb(34, 35, 37);
}
.menu-area ul{
    list-style: none;
    position: relative;
    text-transform: uppercase;
}
.menu-area ul li{
    display: inline-block;

}
.menu-area ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 15px;
}
.menu-area ul li:hover{
    background:crimson;
}
.menu-area ul li:hover > ul{
    display: block;
}
.menu-area ul ul{
    display: none;
    position: absolute;
    top: 100%;
    background:#24262b
}
.menu-area ul ul li{
    width: 200px;
    position: relative;
    display: block;
    border-bottom: 1px solid #ffffff;
}
.menu-area ul ul ul{
    position: absolute; 
    left: 100%;
    top: 0;
}
  #main{
    overflow: hidden;
  }
  #main h3{
    color: #fff;
    font-weight: normal;
    background-color:crimson;
    padding: 10px;
  }
#main .banner{
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    display: inline-block;
}
#main .banner{
    position: relative;
    display: inline-block;  
}
#main .banner img{
    width: 100%;
}
#main .new-arrival {
  text-align: center;
  border: 1px solid #ccc;
  padding: 30px;
  background-color: #f2f2f2;
  margin-top: 20px; /* Thay đổi khoảng cách từ top */
}

#main .main-product{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
#main .main-product .title{
    width: 100%;
    text-align: center;
}
#main .main-product .title h1{
    font-size:35px;
    text-transform: uppercase;
    color:#fff;
    float: left;
    margin-left:10px;
}
#main .main-product .title button{
  background-color:crimson;
  width: 100%;
}
#main .main-product .products{
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
#main .main-product .products .product{
    position: relative;
    background-color:#fff;
    flex-grow: 1;
    width: 350px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}
#main .main-product .products .product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.image{
    width:100%;
    height: 60%;
    display: grid;
    place-content: center;
}
.image img{
    width: 240px;
    height: 220px;
}
.product-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-info h4{
    font-size: 18px;
    text-transform: capitalize;
    color:black;
}
.product-info span{
    font-size: 25px;
    color:crimson;
    font-weight: bold;
}
.product p{
    font-size: 18px;
    line-height: 25px;
}
.stars svg{
    font-size: 1.3em;
    color:black;  
}
.pay{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.pay button{
    padding: 7px 7px;
    border-radius: 7px;
    border: none;
    background-color:crimson;
    color:#fff;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}
.pay button:hover{
    transform: scale(1.1);
}
.btn-more {
  text-decoration: none;
  width: 15%;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:crimson;
  color: #fff;
  padding: 10px 20px;
}

.btn-more:hover {
  background-color:rgb(0, 0, 0);
}
#footer{
	background-color: #24262b;
  padding: 50px 0;
  margin-top: 50px;
}
#footer .row{
	display: flex;
	flex-wrap: wrap;
}
#footer .row ul{
	list-style: none;
}
#footer .footer-col{
   width: 25%;
   padding: 0 15px;
}
#footer .footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
#footer .footer-col p{
  width: 50%;
  color: #fff;
}
#footer .footer-col h4:before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
#footer .footer-col ul li{
	margin-bottom: 10px;
}
#footer .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
#footer .footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
#footer .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
#footer .footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-top{
  margin-top: 40px;
  text-align: center;
  color: #fff;
}
/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .menu-area ul li {
        display: block;
        width: 100%;
    }

    .menu-area ul li a {
        padding: 12px;
    }

    .menu-area ul ul {
        position: static;
        display: none;
        top: initial;
        background: none;
    }

    .menu-area ul ul li {
        border-bottom: none;
    }

    .menu-area ul ul ul {
        position: static;
        left: initial;
    }
}