@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&family=Comfortaa:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Chakra Petch';
}
#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 16.5vh;
    font-family: 'Roboto', sans-serif;
    color: hsl(252, 30%, 17%);
    overflow: hidden ;
}
.container {
    width: 80%;
    margin: 0px auto;
}
#header{
    width: 100%;
    background-color: hsl(252, 30%, 100%);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
#header .container{
    display: flex;
    align-items:center ;
    justify-content:space-between;
}
#header .logo {
    width: 15%;
    float: left;
}
#header .logo img{
    width: 100%;
}
.search-bar{
    background-color: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}
.search-bar input{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    background-color: hsl(252, 30%, 95%);
}
.button{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.button a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 00.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor:pointer;
    color: white;
    background-color:crimson;
    transition: all 300ms ease;
}
.btn:hover {
    opacity: 0.8;
    background-color:black;
}
.link{
    cursor: pointer;

}
.link:hover {
    text-decoration: underline;
}
#menu{
    width: 100%;
    margin:auto;
    background-color: rgb(34, 35, 37);
}
#menu .menu-area ul{
    list-style: none;
    position: relative;
    text-transform: uppercase;
}
#menu .menu-area ul li{
    display: inline-block;

}
#menu .menu-area ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 15px;
}
#menu .menu-area ul li:hover{
    background:crimson;
}
#menu .menu-area ul li:hover > ul{
    display: block;
}
#menu .menu-area ul ul{
    display: none;
    position: absolute;
    top: 100%;
    background:#24262b
}
#menu .menu-area ul ul li{
    width: 200px;
    position: relative;
    display: block;
    border-bottom: 1px solid #ffffff;
}
#menu .menu-area ul ul ul{
    position: absolute; 
    left: 100%;
    top: 0;
}
  #main{
    line-height: 1.5;
  }
  #main .page-title .title{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-bottom: 10px;
}
#main .page-title .title p{
    font-size:15px;
    text-transform: uppercase;
    float: left;
    margin-left: 170px;
}
#main .page-title .title a{
    text-decoration: none;
    color:black;
}
#main .page-title .title a:hover{
    text-decoration:underline;
    color:brown;
}
  .card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
    
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    display: inline;
}
.product-ID{
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    display: inline;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
  
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 40px;
}
.new-price span{
    color:crimson;
    font-size: 40px;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background:rgb(52, 49, 49);
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
#main .product-information{
    max-width: 1100px;
    margin: 0 auto;
}
#main .product-information H2{
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 15px;
}
#main .product-information .table-list{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
#main .product-information .table-list td,tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding-left: 10px;
}
#main .product-information img{
    max-width:70%;
    height: auto;
    vertical-align: middle;   
    margin: 0 auto; 
    padding: 12px 15px;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto; 
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background:#867a7a;
    font-weight: bold;
}

.mytabs .tab {  
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}
  #footer{
	background-color: #24262b;
    padding: 50px 0;
    margin-top: 50px;
}
#footer .row{
	display: flex;
	flex-wrap: wrap;
}
#footer .row ul{
	list-style: none;
}
#footer .footer-col{
   width: 25%;
   padding: 0 15px;
}
#footer .footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
#footer .footer-col p{
  width: 50%;
  color: #fff;
}
#footer .footer-col h4:before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
#footer .footer-col ul li{
	margin-bottom: 10px;
}
#footer .footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
#footer .footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
#footer .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
#footer .footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-top{
  margin-top: 40px;
  text-align: center;
  color: #fff;
}
/* Kích thước màn hình nhỏ */
@media screen and (max-width: 768px) {
    #header .logo {
      width: 30%;
    }
    .search-bar input {
      width: 100%;
    }
    .button {
      flex-direction: column;
      gap: 1rem;
    }
    .btn {
      padding: 0.4rem 1.5rem;
      font-size: 0.9rem;
    }
    #menu .menu-area ul li {
      display: block;
      margin-bottom: 0.5rem;
    }
    .card {
      grid-template-columns: 1fr;
    }
    .product-imgs {
      order: 2;
    }
    .product-content {
      padding: 1rem;
    }
    .product-detail ul li {
      padding-left: 1rem;
    }
  }