@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&family=Comfortaa:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Chakra Petch';
}
#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 16.5vh;
    font-family: 'Roboto', sans-serif;
    color: hsl(252, 30%, 17%);
    overflow: hidden ; 
}
.container {
    width: 80%;
    margin: 0px auto;
}
#header{
    width: 100%;
    background-color: hsl(252, 30%, 100%);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
#header .container{
    display: flex;
    align-items:center ;
    justify-content:space-between;
}
#header .logo {
    width: 15%;
    float: left;
}
#header .logo img{
    width: 100%;
}
.search-bar{
    background-color: hsl(252, 30%, 95%);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
}
.search-bar input{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    background-color: hsl(252, 30%, 95%);
}
.button{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.button a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 00.6rem 2rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor:pointer;
    color: white;
    background-color:crimson;
    transition: all 300ms ease;
}
.btn:hover {
    opacity: 0.8;
    background-color:black;
}
.link{
    cursor: pointer;

}
.link:hover {
    text-decoration: underline;
}
.menu{
    width: 100%;
    margin:auto;
    background-color: rgb(34, 35, 37);
}
.menu-area ul{
    list-style: none;
    position: relative;
    text-transform: uppercase;
}
.menu-area ul li{
    display: inline-block;

}
.menu-area ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 12px 15px;
}
.menu-area ul li:hover{
    background:crimson;
}
.menu-area ul li:hover > ul{
    display: block;
}
.menu-area ul ul{
    display: none;
    position: absolute;
    top: 100%;
    background:#24262b
}
.menu-area ul ul li{
    width: 200px;
    position: relative;
    display: block;
    border-bottom: 1px solid #ffffff;
}
.menu-area ul ul ul{
    position: absolute; 
    left: 100%;
    top: 0;
}
.invoice-table {
    width: 100%;
    border-collapse: collapse;
  }
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .invoice-table th,
  .invoice-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  .invoice-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
  }
  
  .invoice-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .invoice-table tr:hover {
    background-color: #e9e9e9;
  }
  